.Home{
    display: flex;
    flex-flow: row wrap;
    align-content: center;
    justify-content: space-between;
    gap: 1.5rem;
}

.div-content-home{
    display: flex;
    flex-direction: column;
    gap: 1.5rem 0;
    margin-bottom: 1.4rem;
    max-width: 90%;
}

.over-title{
    font-size: 1.75rem;
    font-weight: 700;
    color: var(--standard-green);
}

.title{
    font-size: 5.25rem;
    font-family: 'Source Serif Pro', serif;
    font-weight: 700;
    color: var(--dark-grey-text);
    width: 90%;
}

.subtitle{
    font-weight: 400;
    font-size: 1.75rem;
    color: var(--dark-grey-text);
}

.ul-home{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.ul-home > li > a{
    font-size: 4rem;
}

.Recent-projects-home{
    min-height: 80vh;
}

.header-projects-home{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.more-info-projects{
    font-size: 1.3rem;
}

.more-info-projects > a{
    color: var(--dark-grey-text);
    text-decoration: none;
    font-weight: 500;
}

.more-info-projects > a > svg {
    color: var(--light-green);
}

.more-info-projects a:hover{
    color: var(--light-green);
}

@media only screen and (max-width: 880px){
    .Home{
        gap: 1rem 0;
    }
    .div-content-home{
        max-width: 100%;
    }
    .ul-home{
        flex-direction: row;
        gap: 0 4rem;
    }
}

@media only screen and (max-width: 800px){
    .title{
        font-size: 4.5rem;
    }

    .subtitle{
        font-size: 1.3rem;
        line-height: 1.8;
    }
}

@media only screen and (max-width: 580px){
    .title{
        font-size: 3.5rem;
    }
    .ul-home > li > a{
        font-size: 3rem;
    }
    .header-projects-home{
        flex-direction: column;
        align-items: flex-start;
        gap: 2rem;
    }
}

@media only screen and (max-width: 390px){
    .over-title{
        font-size: 1.4rem;
    }
    .title{
        font-size: 3rem;
    }
}