.Recent-projects{
  padding-top: 6rem;
}

.projects-grid{
  padding: 2rem 0;
  gap: 1rem;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
}

.Recent-projects{
  min-height: 100vh;
  max-width: 100vw;
}

.general_card_project{
  position: relative;
}

.background-card{
  min-height: 23rem;
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  border: 2px solid var(--light-background-green);
  border-radius: 0.8rem;
}

.background-card::before{
  border-radius: 0.8rem;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.75);
}

.moreInfoLink,
.description-card,
.title-card{
  position: relative;
  color: #fff;
}

.moreInfoLink{
  position: absolute;
  bottom: 1rem;
  align-self: flex-end;
}

.moreInfoLink a{
  color: #fff;
  text-decoration: none;
  font-size: 1.25rem;
  transition: 0.6s;
}


.moreInfoLink a:hover{
  color: var(--standard-green);
  font-weight: 600;
}

.moreInfoLink svg{
  color: var(--standard-green);
}

.title-card{
  font-size: 1.8rem;
  font-family: 'Source Serif Pro', serif;
  font-weight: 700;
}

.description-card{
  font-size: 1rem;
  line-height: 2;
}

@media only screen and (max-width: 450px){
  .projects-grid{
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  }
}