*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.ProjectDetails{
  padding-top: 6rem;
  min-height: 100vh;
}

.home-div-project{
  background-position: center center;
  background-size: cover;
  background-repeat: no-repeat;
  background-position-y: top;
  position: relative;
  min-height: 55vh;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  gap: 1.5rem 0;
}

.home-div-project::before{
  border-radius: 1rem;
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.719);
}

.title-projectd{
  position: relative;
  color: #fafafa;
  text-align: center;
  font-size: 4rem
}

.div-centre-separator{
  position: relative;
  height: 10px;
  border-radius: 1rem;
  margin: 1rem 15%;
  background-color: var(--standard-green);
}

.buttons_div_home{
  position: relative;
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem;
}

.description_div{
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
  min-height: 12rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.description_project{
  padding: 1.4rem 0;
  font-size: 1.20rem;
}

.button_home{
  display: block;
  color: #fff;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: 800;
  text-transform: uppercase;
  padding: 0.5rem 1rem;
  border: 4px solid var(--standard-green);
  border-radius: 0.5rem;
  transition: 0.5s all;
}

.demo_button{
  background-color: var(--standard-green);
}

.repo_button{
  background-color: #fafafa;
  color: var(--standard-green);
}

.demo_button:hover,
.repo_button:hover{
  background-color: rgba(0, 0, 0, 0.308);
  color: #fafafa;
}

.gallery_div{
  margin: 2rem auto;
  padding: 2rem;
  background-color: #fff;
  border-radius: 1rem;
}

.grid-gallery{
  padding: 2rem 0 1rem 0;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap: 1rem;
}

.gallery-img{
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  object-position: top;
  border-radius: 1rem;
  border: 2px solid var(--standard-green);
}

@media only screen and (max-width: 650px){
  .title-projectd{
    font-size: 3rem;
    width: 90%;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 480px){
  .buttons_div_home{
    flex-direction: column;
  }
  .button_home{
    width: 70%;
  }
}