*{
  padding: 0;
  margin: 0;
}

:root{
  --light-background-green: #FAFBF5;
  --dark-grey-text: #41474C;
  --standard-beige: #E9E4DE;
  --light-green: #6F8C19;
  --standard-green: #99C221;
}

.App{
  background-color: var(--light-background-green);
  min-height: 100vh;
  padding: 0 4rem;
  transition: 0.5s;
}
.content-section{
  padding: 6rem 0;
  min-height: 100vh;
  display: flex;
  align-items: center;
}

.detailsCard{
  padding-top: 20rem;
}

@media only screen and (max-width: 998px){

  #Navbar{
    padding: 1.5rem;
  }

  .App{
    padding: 0 2.5rem;
  }

  .collapse{
    gap: 2rem;
    flex-direction: column;
  }

  .contact-button{
    background-color: #E9E4DE;
    align-self: flex-start;
  }
}

@media only screen and (max-width: 800px){
  html{
    font-size: 0.9rem;
  }
}

@media only screen and (max-width: 450px){
  .App{
    padding: 0 1.6rem;
  }
}